.nursery {
  overflow: scroll;
  background: olive;
  font-weight: 'bold';
}

.slider {
  margin: '10px';
  color: black;
  & :global(.bp3-intent-primary) {
    background-color: green !important;
  }
}
